<style>
ol, .docs-markdown > ul {
    margin-top: -20px;
    margin-left: 25px;
}

/* custom css for dark mode - better badges xd */
.dark .bg-red-100 {
    background-color: #8B0000 !important;
}
.dark .text-red-600 {
    color: rgba(255, 180, 180) !important;
}
.dark .bg-yellow-100 {
    background-color: #98521e !important;
}
.dark .text-yellow-900 {
    color: #ffe713 !important;
}

.thead--blue th {
    background-color: #055099;
    font-size: bolder;
    color: white !important;
}

.thead--purple th {
    background-color: #800080;
    font-size: bolder;
    color: white !important;
}
</style>